@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
//Assets base
$ASSETS: '/resources/assets/';
//Reds
$red: #eb2e3a;
$orange: #EA730E;
//Grays
$gray:#001F30;
$gray2: #676f8f;
$gray3: #a3abcc;
$lightgray: #CFD0E6;
//Fonts
$poppins: "Poppins",
Arial,
sans-serif;