.header-movitecnica {
    border-bottom: 1px solid $lightgray;
    .container {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__brand {
        padding-top: 16px;
        padding-bottom: 16px;
        width: 100%;
        text-align: center;
    }
}