// INPUT
.rd--input {
    display: grid;
    justify-content: center;
    outline: none;
    background: #ffffff;
    margin: 0;
    box-shadow: none;
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 56px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 16px;
    i {
        position: absolute;
        right: 16px;
        top: 20px;
        z-index: 9;
        cursor: pointer;
    }
    &.rd--input--picker {
        input {
            padding-right: 64px;
        }
    }
    &+.rd--input-error {
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: $red3;
        display: block;
        margin-bottom: 16px;
        text-align: left;
    }
    &+.rd--input-span {
        font-family: $roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #161845;
        display: flex;
        align-items: center;
        // padding-bottom: 16px;
        &>svg {
            margin-right: 8px;
        }
        &+.rd--input-error {
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 16px;
            color: $red3;
            display: block;
            margin-top: 16px;
            margin-bottom: 16px;
            text-align: left;
        }
    }
    &>label {
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #161845;
        position: absolute;
        left: 16px;
        top: 17px;
        z-index: 0;
        background: transparent;
        -webkit-transition: top 0.3s ease-in-out;
        -moz-transition: top 0.3s ease-in-out;
        -ms-transition: top 0.3s ease-in-out;
        -o-transition: top 0.3s ease-in-out;
        transition: top 0.3s ease-in-out;
    }
    &>input {
        appearance: none;
        -webkit-appearance: none;
        font-family: $poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        color: #161845;
        position: absolute;
        z-index: 1;
        padding: 16px;
        height: 100%;
        width: 100%;
        background: transparent;
        outline: none;
        box-shadow: none;
        border: 1px solid #CFD0E6;
        letter-spacing: 1px;
        font-weight: 700;
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &::placeholder {
            font-family: $poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $gray3 !important;
        }
    }
    &:hover {
        &>label {
            color: $gray2;
        }
        input {
            border-color: #001F30;
        }
        & .rd--input--sufix {
            color: $gray2;
        }
    }
    &.active {
        &>label {
            // font-family: $roboto;
            // color: #161845;
        }
        &>input {
            font-family: $poppins;
            color: #CFD0E6;
            // padding-bottom: 8px;
            border-color: #001F30;
            &:hover {
                border-color: #001F30;
            }
        }
        & .rd--input--sufix {
            display: none;
        }
    }
    &.filled {
        &>label {
            font-family: $roboto;
            font-size: 12px;
            line-height: 16px;
            color: #161845;
            top: 8px;
        }
        &>input {
            font-family: $poppins;
            color: #001F30;
            padding-top: 24px;
            padding-bottom: 8px;
            border-color: #001F30;
            &:hover {
                border-color: #001F30;
            }
        }
        & .rd--input--sufix {
            display: none;
        }
    }
    &.sufix--solid {
        &>input {
            padding-right: 40px;
        }
        & .rd--input--sufix {
            display: flex;
        }
    }
    &.disabled,
    &.disabled:hover {
        pointer-events: none;
        background: $gray6 !important;
        &.has-error,
        &.has-error:hover {
            background: $gray6 !important;
            input {
                border-color: #CFD0E6 !important;
            }
        }
        &>label {
            color: #001F30;
        }
        &>input {
            font-family: $poppins;
            border-color: #CFD0E6!important;
            color: #001F30;
            text-overflow: ellipsis;
            -webkit-text-fill-color: #001F30;
            opacity: 1;
        }
    }
    &.has-error,
    &.has-error:hover {
        margin-bottom: 8px;
        input {
            border-color: $red !important;
        }
    }
    &.has-span {
        margin-bottom: 8px;
    }
}

// !INPUT